{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "func-names": [0],
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "react/display-name": [1, { "acceptTranspilerName": true }]
  },
}
